@tailwind base;
@tailwind components;
@tailwind utilities;  
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600;700&display=swap');


@layer base{
    html{
        font-family: 'Sora', sans-serif;
    }
        /* width */
    ::-webkit-scrollbar {
        width: 5px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 1px grey; 
        border-radius: 5px;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: red; 
        border-radius: 10px;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #b30000; 
    }
}
@layer components{
    .btn{
        @apply hover:-translate-y-1
    }
    .btn-ghost, a , li{
        @apply text-black
    }
    .link-navbar{
        @apply font-normal text-black text-[15px] active:bg-white hover:text-[#C93535] 
    }
    .link-navbar-active{
        @apply text-[#C93535] font-[500];
    }
    .link-navbar-active::after{
        content: "";
        position: absolute;
        border: 3.5px solid #C93535;
        bottom: 5px;
        border-radius: 100%;
        left: 45%;
    }
    .link-navbar-button{
        @apply bg-[#C93535]  p-2 h-10 px-9 rounded-full text-white cursor-pointer normal-case font-medium
    }

    .input , .textarea , .select{
        @apply border-solid   border-2 text-slate-900 border-slate-200 transition-all bg-white w-full rounded-full
      }
      .input:focus , .textarea:focus, .select:focus {
        @apply -translate-y-1  border-primary 
      }
      .input:hover , .textarea:hover , .select:hover{
        @apply -translate-y-1 border-2 border-primary shadow-lg
      }


      .movie{
        @apply cursor-pointer rounded-xl hover:bg-slate-200 transition-all p-2
      }
    
}